<h2>Create Profile</h2>

<form class="" action="/create_profile" method="post">

  <label for="">email</label>
  <input type="text" name="email" value="">

  <label for="">Username</label>
  <input type="text" name="username" value="">

  <label for="">Password</label>
  <input type="text" name="password" value="">

  <label for="">Profile Image</label>
  <input type="text" name="profile_image" value="">

  <label for="">Age</label>
  <input type="text" name="age" value="">

  <label for="">Location</label>
  <input type="text" name="location" value="">

<button>Create Profile</button>
</form>
