
<form class="" action="/location_search" method="post">
  <label for="">Search location</label>
  <input type="text" name="user_search" value="">

  <label for=""></label>
  <input type="text" name="" value="">
  
  <button>Search</button>
</form>



<form class="" action="/user_search" method="post">
  <label for="">Search for other user</label>
  <input type="text" name="user_search" value="">
  <button>Search</button>
</form>
