<h1>Login</h1>

<form class="" action="/session" method="post">
  <label for="">email</label>
  <input type="text" name="email" value="">

  <label for="">password</label>
  <input type="text" name="password" value="">

  <button>login</button>
</form>

<a href="/create_profile"><button>Create Profile</button></a>
