<h2>Create New Event</h2>

<form class="" action="/create_event" method="post">

  <label for="">Event Name</label>
  <input type="text" name="name" value="">

  <label for="">Image</label>
  <input type="text" name="image_url" value="">

  <label for="">Event Type</label>
  <select class="" name="event_type_id">
    <% @event_type.each do |event_type|%>
      <option value="<%= event_type.id%>"><%= event_type.name%></option>
    <% end %>
  </select>

  <label for="">Highlights</label>
  <input type="text" name="highlights" value="">

  <label for="">Description</label>
  <input type="text" name="description" value="">

  <label for="">Location</label>
  <input type="text" name="location" value="">

  <button>Create Event</button>
</form>
